body {
  font-family: Consolas, sans-serif;
  color: #fafafa;
  background-color: #0e1121;
  -ms-overflow-style: none; /*IE/Edge/Safari*/
}
html {
  scrollbar-width: none; /*For firefox*/
}
::-webkit-scrollbar { /*For chromium based browsers*/
  display: none;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#title{
  font-weight: 500;
  font-size: 400%;
  text-align: center;
}

#name, #ityped {
  color: #4179e3;
}

#subtitle {
  font-weight: 500;
  font-size: 400%;
  text-align: center;
  margin-top: -2%;
}

#contact-info {
  left: 0;
  margin-left: 5vw;
  font-size: larger;
  position: fixed;
  text-align: left;
}
#contact-info ul {
  margin: 0;
  padding: 0;
  font-size: larger;
}

#music-player {
  margin-right: 5vw;
  z-index: 10;
  position: fixed;
  right: 0;
  text-align: right;
  /* gap: 10px; */
  transform: scale(0.9);
}

#music-player #controls i {
  cursor: pointer;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#music-player #controls i:hover {
  transform: scale(.9);
  opacity: .5;
}

#song-name {
  font-size: 2.5em;
  display: inline;
}

#song-artist {
  font-size: 1.75em;
  margin-top: 5px;
}


#play-pause {
  display: inline-block;
  line-height: 1vh;
  font-size: 3em;

}
@media only screen and (max-width: 250px) {
  #music-player {
    display: inline-flex;
    gap: 10px;
    transform: scale(.8);
    margin-top: 10px;
  }
}

#scroll-notice-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  font-size: large;
  bottom: 20px;
  text-align: center;
}

#scroll-notice-button {
  size: 10vw;
  font: inherit;
  font-size: large;
  color: rgba(200, 200, 200, .8);
  background-color: #0e1121;
  border: none;
  transition: font-size 0.1s ease-in-out, height 0.1s ease-in-out;
}

#scroll-notice-button:hover {
  font-size: larger;
  cursor: pointer;
}

#second-page {
  height: 70vh;
  width: 100vw;
  text-align: center;
  position: relative;
  text-align: center;
  top: 100vh;
}

#second-page h1 {
  font-weight: 500;
  font-size: 400%;
}

#second-page h2 {
  font-weight: 500;
  margin-left: 2vw;
  margin-right: 2vw;
}

.hidden {
 opacity: 0;
 filter: blur(3px);
 transform: translateY(50%);
 transition: all 1s; 
}

@media(preffers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0px);
 transform: translateY(0%);
}

#header-container {
  margin-top: 6vh;
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}