body {
  font-family: Consolas, sans-serif;
  color: #fafafa;
  background-color: #0e1121;
  -ms-overflow-style: none; /*IE/Edge/Safari*/
}
html {
  scrollbar-width: none; /*For firefox*/
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  /*For chromium based browsers*/
  display: none;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#first-page {
  height: 100vh;
  /* outline: 5px red solid; */
}

#title-container {
  height: auto;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title-container h1,
#second-page h1 {
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 6vw;
}

.blue-text {
  color: #4179e3;
}

header {
  margin: 2vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact-info {
  white-space: nowrap;
  margin-right: 10vw;
  margin-bottom: 10vw;
  flex: 0 1 50%;
}
#contact-info ul {
  font-size: x-large;
  margin: 0;
  padding-left: 8px;
}

#music-player {
  flex: 0 1 0%;
}
#music-player h1 {
  margin: 0;
}
#music-player h3 {
  margin-top: 1vh;
  font-size: x-large;
}
#music-player #controls i {
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#music-player #controls i:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.5;
}
#scroll-notice-container {
  z-index: 10;
  position: absolute;
  bottom: 0;
  margin-bottom: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
#scroll-notice-button {
  text-decoration: none;
  font-size: large;
  color: rgba(200, 200, 200, 0.8);
  -webkit-transition: font-size 0.1s ease-in-out, height 0.1s ease-in-out;
  -o-transition: font-size 0.1s ease-in-out, height 0.1s ease-in-out;
  transition: font-size 0.1s ease-in-out, height 0.1s ease-in-out;
}

#scroll-notice-button:hover {
  font-size: larger;
  cursor: pointer;
}
#second-page {
  height: 100vh;
  /* outline: 5px green solid; */
}
.hidden {
  opacity: 0;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

@media (preffers-reduced-motion) {
  .hidden {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.show {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

#second-page-title {
  font-size: 4vw;
}

#row-container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#row {
  flex: 0 1 20%;
  margin: 0;
}

h3 {
  font-size: 2.5vw;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  text-align: center;
}
